$myColor1: #91c95d;
$myColor2: #0063a5;
$myColor3: white;
$myColor4: #000;
$myColor5: #e2dde1;
$font1: 40px;
$font2: 22px;
$font3: 18px;
$weight1: 400;
$weight2: 500;
$weight3: 700;

body {
  background: $myColor3;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    background: $myColor3;
    nav {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 18px;
        img {
            display: block;
            border-radius: 50%;
            width: 78px;
        }
        button {
            display: none;
        }
        ul {
            list-style: none;
            display: flex;
            li {
                border: 1px solid $myColor2;
                background: $myColor1;
                border-radius: 8px;
                padding: 2px;
                margin: 5px;
                justify-content: space-between;
                text-align: center;
                a {
                    color: $myColor2;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    width: 100%;
    overflow: hidden;
    position: relative;
    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .slide-section {
        width: 100vw;
        max-width: 100vw;
        padding-top: 150px;
        padding-bottom: 150px;
        flex-shrink: 0;
        color: white;
        position: relative;
        z-index: 1;
        background: url(./images/background-images/main0.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        ::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.2);
            z-index: -1;
        }
        h1 {
            padding: 0 10px;
            font-size: $font1;
            line-height: 2.3rem;
            font-weight: $weight3;
            width: 80%;
            margin-bottom: 15px
        }
        p {
            padding: 0 10px;
            font-size: $font2;
            font-weight: $weight2;
            width: 80%;
            margin-bottom: 30px;
        }
    }

    section.bp {
        @extend .slide-section;
        background: url(./images/background-images/main1.jpeg); 
    }

    section.mmr {
        @extend .slide-section;
        background: url(./images/background-images/main2.jpeg);
    }

    section.hpv {
        @extend .slide-section;
        background: url(./images/background-images/main4.jpeg);
    }

    section.q-pharm {
        @extend .slide-section;
        background: url(./images/background-images/main6.jpeg);
    }

    section.del {
        @extend .slide-section;
        background: url(./images/background-images/main5.jpeg);
    }

    section.wella {
        @extend .slide-section;
        background: url(./images/background-images/two-phones.svg);
        background-repeat: no-repeat;
        background-size: cover;
        }
}

button {
        width: 180px;
        text-align: center;
        padding: 12px 17px;
        margin: 0 10px;
        background-color: $myColor4;
        color: $myColor1;
        border-radius: 12px;
        font-size: $font2;
        font-weight: 600;
        border: 1px solid $myColor4;
    }
button:active {
    background-color: $myColor1;
    color: black;
    border: 1px solid $myColor3;
}

hr {
    border: 2px solid $myColor1;
}

section.wwd-section {
    h1 {
        color: $myColor1;
        margin-top: 20px;
        text-align: center;
        font-size: $font1;
    }
    p {
        margin-top: 8px;
        font-size: $font2;
        padding: 0 10px;
    }
    .wwd-template {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 82%;
        padding: 28px;
        margin: 38px auto;
        border: 1px solid $myColor2;
        color: $myColor3;
        background: $myColor2;
        border-radius: 10px;
        i {
        font-size: 40px;
        color: $myColor1;
        margin-bottom: 20px;
        }
        h2 {
            padding: 0;
        }
        p {
            padding: 0;
            margin-bottom: 64px;
        }
    }
    .wwd2 {
        @extend .wwd-template;
    }
    .wwd3 {
        @extend .wwd-template;
    }
    .wwd4 {
        @extend .wwd-template;
    }
    .wwd5 {
        @extend .wwd-template;
    }
    .wwd6 {
        @extend .wwd-template;
    }
}

section.git {
    background: $myColor1;
    padding: 8%;
    h3 {
        font-size: $font1;
        margin-bottom: $font2;
    }
    p {
        font-size: $font2;
        margin-bottom: 24px;
        line-height: 24px;
    }
    h4 {
        font-size: $font2;
        display: flex;
        align-items: baseline;
        gap: 8px;
        margin-bottom: 8px;
        a {
            display: block;
            text-decoration: none;
            transition: color .15s ease-in-out;
            color: black;
        }
        a:hover {
            color: white;
        }
        a:active {
            color: $myColor2;
        }
    }
    button {
        margin: 24px 0;
    }
}

section.testimonials {
    width: 100%;
    overflow: hidden;
    background: $myColor5;
    padding-top: 28px;
    padding-bottom: 14px;
    h3 {
        text-align: center;
        font-size: $font3;
        color: $myColor1;
    }
    h2 {
        text-align: center;
        font-size: $font1;
        margin-bottom: 28px;
    }
    .cards {
        display: flex;
        transition: transform 0.3s ease;
        article {
            min-width: 100%;
            margin-bottom: 58px;
            i {
                font-size: 48px;
            }
            blockquote {
                padding: 10%;
                font-size: $font2;
                font-weight: 500;
                line-height: 26px;
            }
            p {
                text-align: end;
                margin-right: 10px;
                font-size: $font2;
                font-weight: 600;
                color: $myColor2;
            }
        }
    }
    .indicators {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    .dot {
        width: 24px;
        height: 12px;
        background: $myColor1;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    .dot.active {
        background-color: $myColor2;
    }
}

section.info {
    color: $myColor5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    position: relative;
    z-index: 1;
    background: url(./images/background-images/logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    ::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 99, 165, 0.2);
        z-index: -1;
    }
    h1 {
        padding: 0 8px;
        text-align: center;
        color: $myColor1;
    }
    section {
        .number {
            letter-spacing: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font1;
            margin-top: 24px;
        }
    }
    p {
        font-size: $font2;
    }
}

.digit-container {
  width: 24px;
  height: 48px;
  overflow: hidden;
  position: relative;
}

.digit-strip {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 2s ease-in-out;
}

.digit {
  text-align: center;
  display: block;
}

footer {
    background: $myColor4;
    color: white;
    padding: 48px 14px;
    section.contact {
        margin-bottom: 42px;
    }
    h2 {
        display: inline-block;
        border-bottom: 2px solid $myColor1;
        margin-bottom: 18px;
        font-size: $font3;
    }
    a {
        display: inline-block;
        color: $myColor1;
        text-decoration: none;
        font-size: $font3;
        margin-bottom: 24px;
    }
    i{
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        color: white
    }
    section.socials {
        @extend .contact;
        p {
            display: flex;
            align-items: baseline;
            justify-content: baseline;
            gap: 10px;
        }
    }
    section.time {
        ul {
            list-style: none;
            width: 70%;
        }
        li {
            font-size: $font3;
            font-weight: 100;
            margin-bottom: 6px;
        }
        strong {
            float: right;
        }
    }
    hr {
        margin: 24px;
    }
    p.last {
        text-align: center;
    }
}